@font-face{
  font-family: "Angelican";
  src: url("../fonts/AnglicanText.woff") format("woff");
}


@font-face{
  font-family: "BodoniNormal";
  src: url("../fonts/BodoniFLF-Roman.woff") format("woff");
}

@font-face{
  font-family: "BodoniItalic";
  src: url("../fonts/BodoniFLF-BoldItalic.woff") format("woff");
}

@font-face{
  font-family: "BodoniBold";
  src: url("../fonts/BodoniFLF-Bold.woff") format("woff");
}


@font-face{
  font-family: "BodoniBoldItalic";
  src: url("../fonts/BodoniFLF-Italic.woff") format("woff");
}
body {
  font-family: 'BodoniNormal', sans-serif;
  font-weight: 200;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}


.wrapper2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, auto ) ;

  color: #444;
}

.box2 {

  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;

}

.aa {
  grid-column: 1 / 3;
}
.bb {
  grid-column: 3 / 5 ;
}
.cc {
  grid-column: 1 / 2 ;
  grid-row: 2 ;
}
.dd {
  grid-column: 2 / 5 ;
  grid-row: 2 ;
}

.ee {
  grid-column: 1 / 5;
  grid-row: 3;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col1-start] auto  [col2-start] auto  [col3-start] auto [col3-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
  background-color: #fff;
  color: #444;
}

.box {

  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 150%;

}

.a {
  grid-column: col1-start / col3-start;
  grid-row: row1-start ;
}
.b {
  grid-column: col3-start ;
  grid-row: row1-start / row2-end;
}
.c {
  grid-column: col1-start;
  grid-row: row2-start ;
}
.d {
  grid-column: col2-start ;
  grid-row: row2-start ;
}
/*============================NAVBAR SECTION===================================*/

.navbar-brand span{
  font-size:2rem;
  line-height:1.2;
  font-weight: 200;
  font-size: 30px;
  display:inline-block;
  vertical-align:middle;
  padding: 55px 0 0 15px;
  letter-spacing: 2px;
  color: #2c0032;
  font-family: 'Angelican', sans-serif;
}
.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}
.navbar {

  color: #333333;

}

.btn {
  background-color: #461251;
  color: white;
}

.btn:hover{
  color:#FFD700;
}
.navbar-image{
  padding-top: 20px;
}

.navbar-nav li {
  padding-right: 20px;

}

.navbar-nav li a {
  font-weight: 200;
  color: Black !important;
  font-family: 'BodoniNormal', sans-serif;

  font-size: 14px;
}
.navbar-nav a:hover {
  background-color: #461251;
  color:#FFD700 !important;
}

.navbar-brand hr {
  margin:0px;
  color:#d79b2a;
}

.navbar h1 {
  font-size: 25px;
}

/*============================HEADER SECTION===================================*/
.header-content {
  padding-bottom: 50px;
  align-items: center;
}

.header-content h1 {
  padding-top: 25px;
  font-family: 'BodoniNormal', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 10px;
  line-height: 1.25;
  padding-top: 200px;
  color: #333333;
}

.header-content h2 {
  padding-top: 25px;
  font-family: 'BodoniNormal', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  letter-spacing: 10px;
  line-height: 1.25;
  padding-top: 25px;
  color: #333333;

}

/*============================ACHIEVEMENT SECTION===================================*/


.home-achievements-header p {
  margin-top: 0px;
  font-size: 40px;
  letter-spacing: 2px;
  color: #2c0032;
  font-family: 'Angelican', sans-serif;
}

.home-event-header p {
  font-size: 40px;
  letter-spacing: 2px;
  color: #2c0032;
  font-family: 'Angelican', sans-serif;

}

.home-news-header{
  font-size: 40px;
  letter-spacing: 2px;
  color: #2c0032;
  font-family: 'Angelican', sans-serif;
}
/*============================ABOUT SECTION===================================*/

.about-container {
  padding-top: 50px;
}
.about-header {
  text-align: center;
}

.img-title {
  display: inline-block;
  margin-bottom: 40px;
}

.sentence {
  font-size: 18px;
  text-indent: 50px;
  text-align: justify;
}
.btn-read-more {
  background-color: transparent;
  border: none;
  color: #461251;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  letter-spacing: 2px;
  font-family: 'BodoniNormal', sans-serif;
  font-size: 20px;
}

.btn-read-more:hover {
  color: 	#FFD700;
  border: 2px solid 	#FFD700;
  font-family: 'BodoniNormal', sans-serif;
  font-size: 20px;

}

/*==================================EVENT SECTION=====================================================*/


.title-headers{
  display: inline-block;
  margin-bottom: 40px;
}
.news-body-content {
  padding-top: 50px;
}
.home-event-container-title h1 {
  font-size: 30px;
  margin-bottom: 0px;
  color: #333333;

}
.home-event-container-title h3 {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 50px;
  color: #333333;

}
.home-news-container-title h1 {
  font-size: 30px;
  margin-bottom: 0px;
  color: #333333;

}
.home-news-container-title h3 {

  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 50px;
  color: #333333;
}


.event-container-body-img{
  padding-top: 30px;
}

.event-title {
  font-family: 'BodoniNormal', sans-serif;
  color: #333333;

}

.event-title h1 {
  font-size: 30px;
  color: #333333;
  margin-bottom: 0px;
}

.event-title h3 {
  color: #333333;
  font-size: 15px;
  margin-top: 0px;
}

.events hr {
  margin:0px;
  height:1px;
  background-color: #d79b2a;
}

.event-title h1 {
  font-size: 40px;
  letter-spacing: 2px;
  color: #2c0032;
  font-family: 'Angelican', sans-serif;

}
.event-title h3 {
  font-size: 18px;
  letter-spacing: 2px;
  color: #2c0032;
  font-family: 'Angelican', sans-serif;

}
/*==================================NEWS SECTION=====================================================*/

.news-img {
  padding-top: 50px;
  padding-bottom: 50px;
}
.news-card {
  padding: 20px;
}

.news-section{

  padding: 20px;
}
.index-new-img{
  object-fit: contain;
  height:250px;
}

.news-container-body-img{
  padding-top: 30px;
}


.news-title {
  color: #333333;
  font-family: 'BodoniNormal', sans-serif;
  color: #333333;


}

.news-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.news-title h1 {
  font-size: 30px;
  margin-bottom: 0px;
  color: #333333;
}

.news-title h3 {
  font-size: 15px;
  margin-top: 0px;
  color: #333333;
}



.home-news-container-title h1 {
  font-size: 30px;
  color: #333333;
  margin-bottom: 0px;
}

.home-news-container-title h3 {
  font-size: 15px;
  color: #333333;
  margin-top: 0px;
}



.footer-header h4 {
  font-size: 35px;
  letter-spacing: 2px;
  color: 	#FFD700;
  font-family: 'Angelican', sans-serif;
}

.footer-header h5 {
  font-size: 25px;
  letter-spacing: 2px;
  color: 	#FFD700;
  font-family: 'Angelican', sans-serif;
}

.card-img:hover{
  transform: scale(1.1);
  transition-delay: 10;
}


.news1 {
  position: relative;
  width: 100%;
  max-width: 250px;

  padding-bottom: 50px;



}


.image{
  display: block;
  height: 250px;
  width: 250px;
}


.overlay{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: #461251;/* Black see-through */
  color: #f1f1f1;
  width: 250px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.news1:hover .overlay {
  opacity: 1;
}

.view-more-event h2 {

  font-size: 30px;
  letter-spacing: 3px;
  color: #d79b2a;
  font-family: 'BodoniNormal', sans-serif;
  padding-top: 25%;

}

.navbar-footer span p {
  font-family: 'BodoniNormal', sans-serif;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
  margin-bottom: 20px;
  color: white;
  font-size: 12px;
}

.navbar-footer span p:hover {
  font-family: 'BodoniNormal', sans-serif;
  color:	#FFD700;
}

.footer-community h2 {
  font-family: 'Angelican', sans-serif;
  color:	#FFD700;
  font-size: 20px;
  letter-spacing: 2px;
}

.footer-community span p {
  font-family: 'BodoniNormal', sans-serif;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
  margin-bottom: 20px;
  color: white;
  font-size: 12px;
}
.footer-community span p:hover{
  font-family: 'BodoniNormal', sans-serif;
  color:	#FFD700;
}

.index-event-title {
  text-align: center;
}


.index-news-title {
  font-size: 15px;
  text-overflow: ellips
  font-family: 'BodoniNormal', sans-serif;is;
  text-align: justify;
  padding-bottom: 5px;
}
.index-news-card {
  height: 300px;
}

.btn-read-news {
  background-color: transparent;
  color:#2c0032;
  font-size: 20px;
}

.btn-read-news:hover {
  background-color: transparent;
  text-decoration: none;
  color:#d79b2a;
  border: 2px solid #FFD700;
}


.hr-title {
  padding-right: 400px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 100px;
  border-width: 2px;
  background-color: #d79b2a;

}

@media (min-width: 992px)  and (max-width: 1199.98px) {
  .header-span p {

    font-size: 30px;
  }
  .hr-title {
    padding-right: 300px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 100px;
    border-width: 2px;
    background-color: #d79b2a;
  }


  .navbar-brand span{
    font-size:2rem;
    line-height:1.2;
    font-weight: 200;
    font-size: 25px;
    display:inline-block;
    vertical-align:middle;
    padding: 55px 0 0 15px;
    letter-spacing: 2px;
    color: #2c0032;
    font-family: 'Angelican', sans-serif;
  }


  .navbar-image{
    width: 100px;
    height: auto;
  }


  .navbar-nav li {
    padding-right: 10px;

  }


}



@media (min-width: 768px) and (max-width: 991.98px) {
.news-col{
  padding-left: 10px;
}
  .header-span p {
    font-size: 25px;
  }
  .hr-title {
    padding-right: 250px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 100px;
    border-width: 2px;
    background-color: #d79b2a;

  }


  .img-title {
    width: 100px;
    height: auto;
  }

  .navbar-image{
    width: 100px;
    height: auto;
  }





}


@media (min-width: 576px) and (max-width: 767.98px) {

  .header-span p {

    font-size: 25px;
  }
  .hr-title {
    padding-right: 150px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 100px;
    border-width: 2px;
    background-color: #d79b2a;

  }

  .img-title {
    width: 100px;
    height: auto;
  }
  .navbar-image{
    width: 100px;
    height: auto;
  }

}


@media (max-width: 575.98px) {

  .header-span p {
    font-size: 25px;
  }
  .hr-title {
    padding-right: 0px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 100px;
    border-width: 2px;
    background-color: #d79b2a;

  }

  .img-title {
    width: 70px;
    height: auto;
  }
  .navbar-image{
    width: 50px;
    height: auto;
    padding-top:30px;

  }



  .navbar-brand span{
    font-size:2rem;
    line-height:1.2;
    font-weight: 200;
    font-size: 20px;
    display:inline-block;
    vertical-align:middle;
    padding: 55px 0 0 15px;
    letter-spacing: 1px;
    color: #2c0032;
    font-family: 'Angelican', sans-serif;
  }


  .navbar-brand span h1{
    font-size: 20px;
  }

}
