
/*official colors: #fefea5 - yellow , #55195e - purple*/

/*.navbar{
  margin-bottom:0;
  border:none;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 15px;
  padding-bottom: 90px;
}

.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}

.nav li{
  margin-top: 60px;
  padding-left: 5px;
  padding-right:5px;
}

.navbar-brand span {
  display: inline;
  display: inline-block;
  padding-left: 20px;
}
.navbar .navbar-brand img {
  display: inline-block;
}

.navbar-brand-title {

  margin-top: 60px;
}

.navbar-brand-title hr {

  margin:0px;
}*/
/*============================HEADER SECTION===================================*/
.header-content h1 {
  padding-top: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 10px;
  line-height: 1.25;
  padding-top: 200px;
}

.header-content h2 {
  padding-top: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  letter-spacing: 10px;
  line-height: 1.25;
  padding-top: 25px;

}



/*============================ABOUT SECTION===================================*/

.btn-read-more {
  background-color: transparent;
  border: 2px solid #fefea5; 
  border-radius: 15px;
  text-decoration-color: #fefea5;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

/*==================================EVENT SECTION=====================================================*/
.home-event-container-title h1 {
font-size: 30px;
  margin-bottom: 0px;

}
.home-event-container-title h3 {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 50px;
}
.home-news-container-title h1 {
font-size: 30px;
  margin-bottom: 0px;

}
.home-news-container-title h3 {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.event-container-body-img{
  padding-top: 30px;
}

.event-title {
  font-family: 'Oswald', sans-serif;
  color: #55195e;

}

.event-title h1 {
  font-size: 30px;
  margin-bottom: 0px;
}

.event-title h3 {
  font-size: 15px;
  margin-top: 0px;
}

.events hr {
  margin:0px;
  background-color: #fefea5;
  height:1px;
  background-color: red;
}

/*==================================NEWS SECTION=====================================================*/

.news-img {
  margin: 50px;
}
.news-card {
  padding: 20px;
}

.news-section{

  padding: 20px;
}
.index-new-img{
object-fit: contain;
height:250px;
}

.news-container-body-img{
  padding-top: 30px;
}


.news-title {
  font-family: 'Oswald', sans-serif;
  color: #55195e;

}
.news-title h1 {
  font-size: 30px;
  margin-bottom: 0px;
}

.news-title h3 {
  font-size: 15px;
  margin-top: 0px;
}



.home-news-container-title h1 {
  font-size: 30px;
  margin-bottom: 0px;
}

.home-news-container-title h3 {
   font-size: 15px;
  margin-top: 0px;
}
